* {
    box-sizing: border-box;
}

body {
    background-size: contain;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
    width: 100vw;
  }