body {
    background-size: contain;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  .header-perfil-posto-logo-box {
    display: flex;
    align-items: center;
 }

  .header-perfil-posto {
    background-color: #133A1B;
    color: #E4DEAE;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    font-size: 1.1rem;
}

.header-perfil-posto-logo {
    width: 50px;
    height: 50px;
    background-color: black;
    margin-right: 5px;
    border-radius: 25px;

}

.header-perfil-posto-logout {
    height: 30px;
    width: 30px;
}

.logo {
    width: 44px;
    height: 44px;
    margin-right:  10px;
    border-radius: 22px;
 }
 
.main-perfil-posto {
    width: 70%;
    margin: 0px auto;
    min-height: 73vh;
}

.main-perfil-posto-titulo {
    /* font-family: 'Permanent Marker', cursive; */
     color: #133A1B;
     font-weight: bold;
     font-style: italic;
     font-size: 1.5rem;
     margin: 35px 0px 30px 0px;
     text-align: center;
 }

 .main-perfil-posto-texto {
    font-size: 1.1rem;
    text-align: center;
    width: 75%;
    margin: 0px auto;
    line-height: 1.5;
 }

 .main-perfil-posto-boxCards {
    text-align: center;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}

.perfil-posto-card {
    background-color: #F6F5E7;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    height: 130px;
    width: 300px;
    margin: 3% 10px;
    padding: 15px;  
}

.perfil-posto-card-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.perfil-posto-card-conteudo {
    display: flex;
    justify-content: center;
    margin: 20px 0px 15px 0px;
    padding: 5px;
    height: 30%;
}

.perfil-posto-card-conteudo button {
    width: 50px;
    font-size: 1.3rem;
    border: 1px solid black;
}

.perfil-posto-btn1 {
    background-color: tomato;
    color: white;
    border-radius: 5px 0px 0px 5px;
}

.perfil-posto-btn2 {
    background-color: #219653;
    color: white;
    border-radius: 0px 5px 5px 0px;
}

.perfil-posto-btnZ, .perfil-posto-btnG {
    border-radius: 3px;
    padding: 4px 10px;
    width: 75px;
    font-size: 16px;
}

.perfil-posto-btnZ {
    color: red;
}

.perfil-posto-btnG {
    color: green
}

.perfil-posto-btnZ:hover,
.perfil-posto-btnG:hover,
.perfil-posto-btn1:hover,
.perfil-posto-btn2:hover {
    cursor: pointer;
    opacity: 0.9;
}

.perfil-posto-card-conteudo2 {
    display: flex;
    width: 60%;
    margin: 15px auto;
    justify-content: center;
}
.perfil-posto-growlometro-img {
    width: 70px;
    height: 75px;
}
.perfil-posto-growlometro-total {
    font-size: 3.2rem;
    padding: 10px;
    font-style: italic;
    color: #39842D
}

.footer-perfil-posto {
    background-color: #011B10;
    color: #E4DEAE;
    padding: 20px 0px;
}

.footer-perfil-posto-box {
    margin-left: 50px;
}

.footer-perfil-posto-titulo {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 5px
}

.footer-perfil-posto-box-icones {
    margin: 15px 0px;
    display: flex;
}

.footer-perfil-posto-box-icones div {
    display: flex;
    align-items: center;
}

.footer-perfil-posto-icone {
    height: 25px;
    width: 25px;
    margin-right: 8px;
}


@media (max-width: 600px) {
    .header-perfil-posto {
        font-size: 0.8em;
    }

    .header-perfil-posto-logout {
        height: 25px;
        width: 22px;
    }
    

    .main-perfil-posto {
        width: 90%
     }

     .footer-perfil-posto-box {
        margin-left: 20px;
        font-size: 0.8rem;
     }
     
     .header-perfil-posto {
        padding: 0px 20px;
    }
    .main-perfil-posto-titulo,
    .main-perfil-posto-texto {
        width: 90%;
        font-size: 0.9rem;
        margin: 25px auto;
    }
}